        *
        {
            margin: 0 auto;
            padding: 0 0 0 0;
        }

        .sidebar
        {
            position: fixed;
            background-color: #000;
            height: 100%;
            width: 200px;
            z-index: 99;
            overflow: auto;
        }
        
        
        .sidebar h4{
            text-align: center;
            color: #fff;
            margin-bottom: 5px;
            margin-top: 5px;
        }
        
        .category{
            text-align: center;
            border-bottom: 1px solid white;
        }
        
        .category li:hover{
            background: #4a84d7;
        }
        
        .filters{
            text-align: center;
            color: #fff;
        }
        
        .crutch{
            float: left;
            width: 200px;
            height: 100%;
        }

        .event-wrapper
        {
            //background-color: #ff0200;
	    //padding-top: 10px;
            float: right;
            //width: 85%;
            height: 100%;
            margin-left: 200px; 
        }

        .event-block
        {
            float: left;
            border: 1px #000 solid;
            margin-right: 1%;
            margin-left: 1%;
            margin-bottom: 1%;
            vertical-align: bottom;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            max-height: 135px;
            max-width: 250px;
        }

        .event-img
        {
            max-height: 300px;
            max-width: 500px;
        }

        .event-title
        {

        }

        .title-block
        {
            vertical-align: bottom;
            background-color: rgba(0, 0, 0, 0.31);
            min-width: 250px;
            text-align: center;
            margin-top: 115px;
        }
        
        .event-cover{
            background-size: cover;
            margin: auto;
            padding-top: 10px;
            width: 100%;
            height: 100%;
            
        }
        
        .event-info{
            text-align: center;
        }
        
        .event-info h4{
            margin-top: 5px;
        }