*
{
    margin: 0 auto;
    padding: 0 0 0 0;
    text-decoration: none;
}

.sidebar
{
    position: fixed;
    background-color: #f7f3ff;
    height: 100%;
    width: 200px;
    z-index: 99;
}

.event-wrapper
{
    position: relative;
    height: 100%;
    margin-left: 200px;
}

.event-block
{
    float: left;
    vertical-align: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 135px;
    max-width: 230px;
}

.event-img
{
    max-height: 300px;
    max-width: 500px;
}

.event-title
{
    color: #fff;
    max-width: 250px;
    max-height: 19px;
}

.title-block
{
    vertical-align: bottom;
    background-color: rgba(0, 0, 0, 0.6);
    min-width: 230px;
    text-align: center;
    margin-top: 115px;
}

.crutch
{
    float: left;
    position: relative;
    width: 200px;
    height: 100%;
}

.event-last
{

}

.sidebar
{
    position: fixed;
    background-color: #000;
    height: 100%;
    width: 200px;
    z-index: 99;
}


.sidebar h4{
    text-align: center;
    color: #fff;
    margin-bottom: 5px;
    margin-top: 5px;
}

.sidebar a p {
    text-decoration: none;
}

.sidebar a:visited
{
    color : #4a84d7;;
}

.sidebar a:hover
{
    color: #4a84d7;
}

.category{
    text-align: center;
    border-bottom: 1px solid white;
}

.category li:hover{
    background: #fff;
}

.filters{
    text-align: center;
    color: #fff;
}